@import url('https://fonts.cdnfonts.com/css/source-sans-pro');

@tailwind base;
@tailwind components;
@tailwind utilities;

.progress_bar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  font-weight: bold;
  color: white;
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.progress_bar_details {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

.bg_image {
  background-position: left calc((50vw - 170px) - 340px) top;
  background-position-x: left calc((50vw - 170px) - 340px);
  background-position-y: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg_image_mobile {
  background-position: calc((((100vw / 2.222222) - 20px) / 1.5) / 2) 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.image_height_movie {
  height: calc(100vw / 2);
}

@media only screen and (max-width: 500px) {
  .image_height_movie {
    height: calc(100vw / 2);
  }
}
